* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* VIDEO ACCUEIL */
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80%;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 0;
}
.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.heading {
  font-family: "Amsterdam_One";
  margin-bottom: 50vh;
}

/* BORDEREAU CATEGORY */
.category {
  padding: 10% 0;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  color: #ff2a71;
  font-size: 24px;
  font-family: "Amsterdam_One";
  text-align: center;
}

/* PRESTATION */
.home > .prestations {
  overflow: hidden;
  width: 100%;
  max-height: 50vh;
  display: flex;
  flex-direction: row;
}
.picturesPrestation {
  width: 50%;
}
.detailsPrestation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.detailsPrestation > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.liPrestations {
  text-align: center;
  border-radius: 50%;
  border: #ff2a71 solid 5px;
  background-color: #ff2a71;
  margin-top: 5px;
  width: 50%;
}
.liPrestations a {
  color: white;
  font-family: "Magnolia_Script";
}
.seperate {
  display: flex;
  flex-direction: row;
  height: 3px;
  margin: 10px 0;
}
.seperateExt {
  width: 33%;
}
.seperateMiddle {
  background-color: #0f797d;
  width: 33%;
}
