.prestationDetails {
  flex-direction: column;
  width: 100%;
  padding: 5% 10% 5% 10%;
}

.bigtitleDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.textDetails {
  width: 100%;
}
.titlePrestation {
  font-family: "Amsterdam_One";
  color: #da0f4c;
  font-size: 50px;
  padding-bottom: 20px;
}
.subtitlePrestation {
  font-family: "Magnolia_Script";
  font-size: 20px;
  color: #0f797d;
}
.paragraphePrestation {
  padding-top: 20px;
  text-align: justify;
  font-family: "Lustria_Regular";
  color: #9d1949;
  font-size: 14px;
}

.imgDetails {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
