.dropdown-item {
  font-family: "Amsterdam_One";
  color: #ff2a71 !important;
  font-size: 24px !important;
}

.nav-link {
  font-family: "Amsterdam_One";
  color: #ff2a71 !important;
  font-size: 24px !important;
}
