@font-face {
  font-family: "Amsterdam_One";
  src: local("Amsterdam_One"),
    url("./fonts/Amsterdam_One.ttf") format("truetype");
}
@font-face {
  font-family: "Magnolia_Script";
  src: local("Magnolia_Script"),
    url("./fonts/Magnolia_Script.ttf") format("truetype");
}
@font-face {
  font-family: "Lustria_Regular";
  src: local("Lustria_Regular"),
    url("./fonts/Lustria_Regular.ttf") format("truetype");
}
